<h1 style="margin-bottom: 80px;">All Products</h1>

<div class="container" style="display: flex; justify-content: flex-end;  padding: 30px; padding-top: 1px !important; margin:20px;">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4" style="width: 20rem;">
        <div style="height: 200px; width: 317px; overflow: auto; gap: 30px;">
          <img [src]="getImageUrl(product.imageBase64)" class="card-img-top" alt="Product Image" style="height: 100%; width: 100%; object-fit: cover;">
        </div>
        <div class="card-body" style="display: flex; flex-direction: column; gap: 10px;">
          <h3 class="card-title" style="flex: 10%;">{{ product.productName }}</h3>
          <p class="card-text" style="flex: 20%;">{{ product.productDescription }}</p>
          <h4 class="card-text" style="flex: 10%;">Price: ₹ {{ product.productPrice }}</h4>
        </div>
        <div style="display: flex; justify-content: center; gap: 10px; margin-bottom: 5px;">
          <button *ngIf="isAdmin" (click)="handleUpdateClick(product)" style="flex: 20%; border-radius: 15px; margin-left: 5px;height: 40px;">Update</button>
          <button *ngIf="isAdmin" (click)="handleDeleteClick(product)" style="flex: 20%; border-radius: 15px; margin-right: 5px; height: 40px;">Delete</button>
          <button *ngIf="!isAdmin" (click)="handleBuyNowClick(product)" style="flex: 20%; border-radius: 15px; margin-left: 5px;height: 40px;">Buy Now</button>
          <button *ngIf="!isAdmin" (click)="handleAddToCartClick(product)" style="flex: 20%; border-radius: 15px; margin-right: 5px; height: 40px;">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
