<h1 style="margin: 5px;">Categories</h1>
<div style="display: flex; justify-content: center; gap: 100px; padding: 5%;">
    <div style="text-align: center;">
            <a (click)="navigateToCategory('mobiles')" style="text-decoration: none; color: inherit; cursor: pointer;">
                <img src="../../../assets/mobiles.jpg" style="border-radius: 50%; overflow: hidden;" alt="Image 1" width="150" height="150"> 
            <h5 style="padding: 3px;">Mobiles</h5>
        </a>
    </div>
    <div style="text-align: center;">
        <a (click)="navigateToCategory('laptops')" style="text-decoration: none; color: inherit; cursor: pointer;">
            <img src="../../../assets/laptops.avif" style="border-radius: 50%; overflow: hidden;" alt="Image 2" width="150" height="150"> 
            <h5 style="padding: 3px;">Laptops</h5>
        </a>
    </div>
    <div style="text-align: center;">
        <a (click)="navigateToCategory('toys')" style="text-decoration: none; color: inherit;">
            <img src="../../../assets/toys.jpeg" style="border-radius: 50%; overflow: hidden;" alt="Image 3" width="150" height="150"> 
            <h5 style="padding: 3px;">Toys</h5>
        </a>
    </div>
</div>

<div style="display: flex; justify-content:center; gap: 100px;">
    <div style="text-align: center;">
        <a  style="text-decoration: none; color: inherit;">
            <img src="../../../assets/dress.avif" style="border-radius: 50%; overflow: hidden;" alt="Image 4" width="150" height="150"> 
            <h5 style="padding: 3px;">Dress</h5>
        </a>
    </div>
    <div style="text-align: center;">
        <a href="#" style="text-decoration: none; color: inherit;">
            <img src="../../../assets/others.avif" style="border-radius: 50%; overflow: hidden;" alt="Image 5" width="150" height="150"> 
            <h5 style="padding: 3px;">Others</h5>
        </a>
    </div>
</div>





